<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{>header}}
    {{{body}}}
    {{>footer}}
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/popper.js/dist/popper.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
