body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.uno {
  padding-bottom: 10px;
}

.dos {
  padding-bottom: 15px;
}

.tres {
  padding-bottom: 15px;
}
